* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.activity-cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3%;
}

.activity-card {
  width: 70%;
  margin: 15px;
  margin-left: 15%;
  background-color: #ebebebd8;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.activity-card:hover {
  background-color: #8d8d8dd8;
}

.activity-card h2 {
  margin: 18px;
}

.activity-card p {
  margin-left: 18px;
  margin-right: 18px;
}

.activity-card2{
  width: 70%;
  height: 20%;
  margin: 15px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.icons-container {
  margin-bottom: 18px;
}

.activity-card img {
  max-width: 20vh;
  height: auto;
  margin: 18px;
}

.activity-card2{
  width: 70%;
  height: 20%;
  margin: 15px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.pencil-link {
  text-decoration: none;
  color: inherit;
}

.pencil-link:hover {
  text-decoration: none;
  color: inherit;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-icon {
  margin-left: 25px;
  cursor: pointer;
}

.add-activity-link {
  text-decoration: none;
}

.add-activity-link:hover {
  text-decoration: none;
}

.selected {
  background-color: blue;
  color: white;
}

.view-icon {
  cursor: pointer;
}